* {
   font-family: 'Roboto', sans-serif;
}

nav {
   height: 50px;
   background: #212121;
 
}

.menu {
   padding: 13px 70px;
   margin: 0;
   list-style-type: none;
   display: flex;
   justify-content: space-between;
  
}

.menu .menu_item .menu_link {
   text-decoration: none;
   color: #ffffff;
   font-size: 15px;
   font-weight: 300;
}

.menu .menu_item .menu_link:hover {
   text-decoration: underline;
}

.menu .menu_item {
   border-right: 2px dotted white;
   padding-right: 28px;
}

.subheader {
   height: 84px;
   /* background: #000000;
   opacity: 0.6; */
   background: rgba(0, 0, 0, 0.6)
}

.subheader .subheader_logo {
   display: block;
   max-width: 100%;
   margin-top: 12px;
}

.subheader_official {
  
   opacity: 0.6;
   font-weight: 100;
   font-size: 13px;
   color: #FFFFFF;
   margin-top: 4px;
}
