* {
   font-family: 'Roboto', sans-serif;
}

nav {
   height: 50px;
   background: #212121;
 
}

.menu {
   padding: 13px 70px;
   margin: 0;
   list-style-type: none;
   display: flex;
   justify-content: space-between;
  
}

.menu .menu_item .menu_link {
   text-decoration: none;
   color: #ffffff;
   font-size: 15px;
   font-weight: 300;
}

.menu .menu_item .menu_link:hover {
   text-decoration: underline;
}

.menu .menu_item {
   border-right: 2px dotted white;
   padding-right: 28px;
}

/*Как сделать чтобы картинка накладывалась*/

header {
   position: relative;
}
.subheader {
   position: absolute;
   width: 100%;
}


.subheader {
   height: 84px;
   /* background: #000000;
   opacity: 0.6; */
   background: rgba(0, 0, 0, 0.6)
}

.subheader .subheader_logo {
   display: block;
   max-width: 100%;
   margin-top: 12px;
}

.subheader_official {
  
   opacity: 0.6;
   font-weight: 100;
   font-size: 13px;
   color: #FFFFFF;
   margin-top: 4px;
}

.subheader .subheader_call {
   margin-top: 17px;
   text-align: right;
   font-style: Regular;
   font-size: 12px;
   color: #FFFFFF;
}

.subheader .subheader_call_number {
   display: block;
   text-align: right;
   font-style: Regular;
   font-size: 22px;
   color: #FFFFFF;
   text-decoration: none;
   line-height: 12px;
   margin-top: 8px;
}

.subheader .subheader_btn {
   width: 172px;
   height: 46px;
   box-shadow: inset 0px, -3px 0 rgba(0, 0, 0, 0.12);
   /* border: 3px solid rgba(0, 0, 0, 0.07); */
   border: none;
   background-image: linear-gradient(to top, #1EACC7 0%, #4CE2FF 100%);
   text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
   text-transform: uppercase;
   color:#ffffff;
   margin-top: 19px;
   font-size: 14px;   
   font-weight: 400;
   border-radius: 4px;
}

.promo {
   min-height: 800px;
   background: url(../img/uber_bg.png) center center/cover no-repeat;
   padding: 152px 0 180px 0;

}

.promo .promo_header {
   margin-top:0;
   font-size: 60px;
   line-height: 60px;
   font-weight: 700;
   text-transform: uppercase;
   box-align: center;
   display: block;
   color: #ffffff;
   text-align: center;

}

.promo .promo_subheader {
   
   font-size: 36px;
   font-weight: 700;
   text-transform: uppercase;
   box-align: center;
   color: #ffffff;
   line-height: 36px;
   margin-top: 28px;
   text-align: center;
}

.promo .promo_descr {
   font-size: 18px;
   font-weight: 400;
   line-height: 24px;
   text-align: center;
   color: #ffffff;
   margin-top: 30px;
}

.promo .promo_btn {
   width: 259px;
   height: 63px;
   box-shadow: inset 0px, -3px 0 rgba(0, 0, 0, 0.12);
   /* border: 3px solid rgba(0, 0, 0, 0.07); */
   border: none;
   background-image: linear-gradient(to top, #1EACC7 0%, #4CE2FF 100%);
   text-transform: uppercase;
   color:#ffffff;
   margin-top: 19px;
   font-size: 18px;   
   font-weight: 400;
   border-radius: 4px;
   display: block;
   margin: 120px auto 0 auto;
}

.advant {
   min-height: 805px;
   margin-top: 64px;
 
}

.advant .adv_header {
   width: 113px;
   height: 21px;
   display: block;
   margin: 50px auto 0 auto;
   background-color: black;
   color: #ffffff;
   font-size: 11px;
   text-transform: uppercase;
   display: flex;
   justify-content: center;
   align-items: center;
}

.advant .adv_subheader {
   font-size: 38px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 30px;
   margin-bottom: 14px;
}

.advant .adv_1 {
   min-height: 180px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 23px;
   border: 1px dashed black;
}

.advant .adv_photo_1 {
   background-color: #1EACC7;
   border-radius: 100%;
   width: 116px;
   height: 102px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.reason_text {
   color:#1EACC7;
   font-size: 17px;
   font-weight: 400;
}

.advant .adv_text_1 {
   
   width: 350px;
   height: 130px;
   margin-left: 25px;
   font-size: 15px;
   line-height: 15px;
   text-align: left;
   font-weight: 300;
   line-height: 17px;

}

.mobile {
   min-height: 864px;
   background: url(../img/mobile_bg.png) center center/cover no-repeat;
   padding-top: 48px;
}

.mobile .mobile_header {
   width: 113px;
   height: 21px;
   display: block;
   margin: 0 auto;
   background-color: black;
   color: #ffffff;
   font-size: 11px;
   text-transform: uppercase;
   display: flex;
   justify-content: center;
   align-items: center;
  
}

.mobile .mobile_subheader {
   font-size: 38px;
   text-transform: uppercase;
   margin-top: 33px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: 700;
}

.mobile .mobile_sub_subheader {
   font-size: 17px;
   text-transform: uppercase;
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: 400;
}



